@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

/* navbar style section */
nav{
    max-width: 1350px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-left span{
    color: #ff42a5;
}
.nav-left h1{
    font-size: 2.50rem;
    font-weight: 800;
    margin-left: 15px;
}
.nav-right .yt{
    color: red;
    margin: 0 10px; 
}
.nav-right .follow{
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(128, 125, 121, 0.272);
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li{
    text-decoration: none;
}
nav ul li a{
    margin-right: 30px;
    text-decoration: none;
    color: rgba(60, 53, 79, 1);
    font-size: 20px;
    font-weight: 500;
}
.nav-section{
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.06);
}

/* header section */
.header-container{
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-header{
    background-image: url(../resources/Group\ 14.png);
    background-position: start;
    background-repeat: no-repeat;
} 
.header-left{
    width: 50%;
}
.header-left h2{
    font-size: 2rem;
    font-weight: 600;
    margin: 15px 0;
}
.header-left h1{
    font-size: 4.50rem;
    font-weight: 850;
    margin-bottom: 15px;
}
.header-left p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.icon-red{
    color:#ff42a5;
}
.header-btn1, .header-btn2{
    padding: 15px 25px;
    border-radius: 40px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    margin-top: 30px;
    border: none;
}
.header-btn1{
    background-color: #ff42a5;
}
.header-btn2{
    background-color: rgba(78, 197, 247, 1);
    margin-left: 30px;
}
.header-right{
    width: 50%;
}
.header-right img{
    width: 100%;
}
/* gamer container section */
.gamer-container{
    max-width: 1350px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-gamer{
    width: 60%;
}
.left-gamer img{
    width: 100%;
}
.right-gamer{
    width: 35%;
    text-align: right;
}
.right-gamer h1{
    font-size: 3rem;
    font-weight: 700;
}
.right-gamer p{
    margin-top: 15px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.right-gamer h2{
    color: #534C64;
    margin: 15px;
    font-size: 1.50rem;
    font-weight: 700;
}
.right-gamer .purpose{
    font-size: 25px;
    font-weight: 500;
    color: #534C64;
}